*{
    margin: 0;
    padding: 0;
}
.resume{
    display: flex;
    margin: 50px;
    position: relative;
    border: 2px solid rgb(165, 165, 165);
    border-radius: 10px;
}

.rightResume{
    background-color: #022421;
    color: white;
    /* position: relative; */
    padding-top: 400px;
    width: 30%;
}
.rightResume div{
    width: 80%;
    /* padding: 20px 30px; */
    line-height: 20px;
}
.rightResume p{
    padding: 0px 30px;
    line-height: 25px;
}
.contact h2{
    margin-bottom: 10px;
}

.rightResume h2{
    background-color:#045D55;
    color: white;
    padding: 10px 30px;
    border-radius: 0px 20px 20px 0px;
    font-size: 30px;
    letter-spacing: 5px;
}
.rightResume h5{
    padding: 10px 30px;
    font-size: 18px;
}
 
.leftResume{
   padding-top: 400px;
   background-color: rgb(222, 222, 222);   
   width: 100%;
   padding-bottom: 30px;
   
}
.leftResume .name{
    background-color: #045D55;
    color: white;
    padding: 40px 0px;
    display: flex;
    justify-content: space-around;
    position: absolute;
    left: 50px;
    top: 50px;
    border-radius: 150px 0px 0px 150px;
}
.leftResume .name h1{
    font-size: 70px;
}
.leftResume .name h4{
    font-size: 40px;
    font-weight: 400;
    /* font-size: 30px; */
}
hr{
    width: 35%;
    height: 1px;
    background-color: white;
    margin: 15px 0px;
}
.leftResume img{
    border-radius: 50%;
    padding: 0px 50px;

}
.leftResume h2{
    background-color: #022421;
    color: white;
    padding: 20px 20px;
    font-size: 30px;
    letter-spacing: 5px;
    margin-bottom: 20px;
    /* width: 30%; */
}
.leftResume h4, ul>li, p{
    padding: 0px 30px;
}
.leftResume ul>li{
    list-style:inside;
}
.leftResume h4{
    font-size: 20px;
}
.leftResume p{
    font-weight: bold;
}
.leftResume .work>h2{
    width: 30%;
    border-radius: 0px 40px 40px 0px
}
.leftResume .skills h2{
width: 15%;
border-radius: 0px 40px 40px 0px
}
.skillsBoxes{
    display: flex;
}
.box{
    display: flex;
    border: 2px solid black;
    width: 100%;
}
.skilllist ul>li{
    line-height: 37px;
}
/* .box .box1 {
  width: 
} */
 span{
    /* width: 100px; */
    display: inline-block;
    border: 2px solid black;
    /* border-radius: 20px 20px 20px 20px; */
 }
 .box1{
    background-color: #022421;
    border-radius: 20px 0px 0px 20px;
    width: 150px;
    padding: 10px 0px;
    margin: 5px 0px;
 }
 .box2{
    background-color: #045D55;
    border-radius: 0px 20px 20px 0px;
    width: 75px;
    padding: 10px 0px;
    margin: 5px 0px;
 }
 .box3{
 background-color: #045D55;
border-radius: 20px 0px 0px 20px;
    width: 150px;
    margin: 5px 0px;
    padding: 10px 0px;
 }
 .box4{
background-color: #022421;
border-radius: 0px 20px 20px 0px;
width: 75px;
padding: 10px 0px;
margin: 5px 0px;
 }
 .box5{
      background-color: #022421;
    border-radius: 20px 0px 0px 20px;
    width: 150px;
    padding: 10px 0px;
    margin: 5px 0px;
 }
 .box6{
    background-color: #045D55;
    border-radius: 0px 20px 20px 0px;
    width: 75px;
    padding: 10px 0px;
    margin: 5px 0px;
 }
 .box7{
  background-color: #022421;
    border-radius: 20px 0px 0px 20px;
    width: 150px;
    margin: 5px 0px;
    padding: 10px 0px;
 }
 .box8{
    background-color: #045D55;
    border-radius: 0px 20px 20px 0px;
    width: 75px;
    padding: 10px 0px;
     margin: 5px 0px;
 }
.box9{
    background-color: #045D55;
    border-radius: 20px 0px 0px 20px;
    width: 150px;
    margin: 5px 0px;
    padding: 10px 0px;
}
.box10{
      background-color: #022421;
    border-radius: 0px 20px 20px 0px;
    width: 75px;
    margin: 5px 0px;
    padding: 10px 0px;
}
