.bigBox{
    border: 2px solid black;
    display: flex;
    justify-content: space-evenly;
}
header{
    display: flex;
    justify-content: space-between;
    border: 2px solid black;
    align-items: center;
    height: 100px;
    padding: 0px 20px;
}
header img{
    height: 80px;
    width: 90px;
}
ul li a{
    text-decoration: none;
}
ul li{
    list-style: none;
    display: inline-block;
    margin: 0px 20px;
}
header .contact{
    border-left: 2px solid black;
    height: 100px;
    padding: 0px 20px;
}