* {
  margin: 0;
  padding: 0;
}
body {
  background-color: green;
}
.btn {
  padding: 10px 40px;
  font-size: 20px;
  font-weight: bold;
  margin: 20px 210px;
  border-radius: 30px;
  border: none;
  cursor: pointer;
}
.modal {
  background-color: white;
  height: 400px;
  width: 600px;
  padding: 10px 20px;
  text-align: justify;
  position: absolute;
  left: 50%;
  top: 0;
  transform: translate(-50%, 50%);
  z-index: 1;
}
.closeModal {
  background: none;
  border: none;
  font-size: 30px;
  position: absolute;
  right: 15px;
  top: 5px;
  cursor: pointer;
}
.btn:hover {
  background-color: black;
  color: white;
}
.hidden{
    display: none;
}
.overlay{
    height: 100%;
    width: 100%;
    background: black;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.6;
}
