*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 20px;
}
.box{
    /* height: 300px; */
    height: 70vh;
    width: 100%;
    text-align: center;
    border: 2px solid black;
    margin: 20px;
    box-sizing: border-box;
    font-size: 10px;    
}
.box p{
    /* font-size: 3em; */
    font-size: 1rem;
}
.box .childBox{
    width: 70%;
    border: 2px solid green;
    background-color: yellow;
}
.box .childBox2{
     width: 100%;
    border: 2px solid green;
    background-color: rgb(3, 202, 20);
}
