*{
    margin: 0;
    padding: 0;
}
header{
    display: flex;
    background-color: black;
    color: white;
    height: 100px;
    align-items:center;
    padding: 0px 30px;
    justify-content: space-between;
}
header nav ul li{
    display: inline;
    margin: 0px 10px;
}
ul li a{
    text-decoration: none;
    color: white;
    font-size: 20px;
}
header .logo h2{
    color: orange;
    font-size: 30px;
}
header button{
    background-color: orange;
    color: black;
    padding: 10px 30px;
    margin: 0px 10px;
    border: none;
    border-radius: 5px;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
}
.heading{
    font-size: 60px;
    text-align: center;
    margin: 30px 0px;
}
.box{
    display: flex;
    justify-content: space-around;
    background-color: orange;
    padding: 50px 100px;
}
.container{
    height: 350px;
    width: 350px;
    color: white;
    border: 2px solid white;
    text-align: justify;
    padding: 10px 20px;
    background-color: black;
    border-radius: 10px;
}
.container h2{
    text-align: center;
    margin: 10px 0px;
    font-size: 23px;
    letter-spacing: 5px;
}
.container button{
    background-color: orange;
    color: black;
    padding: 10px 30px;
    border: none;
    border-radius: 5px;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
    display: flex;
    text-align: center;
    margin: 30px 100px;
}
header button:hover{
    background-color: white;
    color: black;
}